/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */


.mainText {
  margin: 50px;
  border: 20px;
  margin: 100px;
}

h2 {
  padding: 15px;
}

.applePie {
  max-width: 100%;
  height: 1200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.applePie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
}
.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  text-align: center;
}


p {
  text-align: center;
  padding: 40px;
  font-size: 25px;
}

.recipeInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}
ul li {
  margin-bottom: 5px;
}

ul li::before {
  content: "- ";
  margin-right: 5px;
}





ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
}

ol li {
  counter-increment: item;
  margin-bottom: 5px;;
}

ol li::before {
  content: counter(item) ".) ";
  margin-right: 5px;
}
